{% extends 'store/base.html' %}
{% block title %}Books{% endblock %}
{% block content %}
<div class="level">
    <div class="level-left"><h2 class="subtitle">Books</h2></div>
    <div class="level-right"><a class="button is-primary" href="{% url 'book-create' %}">Add Book</a></div>
</div>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Publisher</th>
            <th>Authors</th>
            <th>Categories</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for book in object_list %}
            <tr>
                <td><a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.publisher.name }}</td>
                <td>
                    {% for book_author in book.book_authors.all %}
                        {{ book_author.author.first_name }} {{ book_author.author.last_name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        <span class="has-text-grey">None</span>
                    {% endfor %}
                </td>
                <td>
                    {% for book_category in book.book_categories.all %}
                        {{ book_category.category.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        <span class="has-text-grey">None</span>
                    {% endfor %}
                </td>
                <td>{{ book.price }} {{ book.currency }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="6">No books found.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
