{% extends 'store/base.html' %}
{% block title %}Navigation Hub{% endblock %}
{% block content %}
<div class="columns">
    <div class="column">
        <div class="box">
            <h2 class="subtitle">Operations</h2>
            <ul>
                <li><a href="{% url 'customer-list' %}">Customer Management</a></li>
                <li><a href="{% url 'book-list' %}">Product Catalogue</a></li>
                <li><a href="{% url 'author-list' %}">Author Directory</a></li>
                <li><a href="{% url 'publisher-list' %}">Vendor Directory</a></li>
                <li><a href="{% url 'category-list' %}">Category Library</a></li>
                <li><a href="{% url 'inventory-list' %}">Inventory Overview</a></li>
                <li><a href="{% url 'invoice-list' %}">Invoice Management</a></li>
                <li><a href="{% url 'invoice-report' %}">Reports</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
